@font-face {
font-family: 'Museo Sans Cyrl 100';
src: url('MuseoSansCyrl-100.ttf');}

body{
    background:#000000;
    text-align: center;}

a:link, a:visited{
color: #ff6600}

a:visited {
	text-decoration: none; 
    decoration: none; 
}

@media (min-aspect-ratio: 10/9) {
.il-index-img img{
	width: 480px;
	outline: solid thin rgb(43, 43, 43);
	}

div.il-main-menu-outer {
	margin: 0 auto;
	border: 1px solid rgb(43,43,43);
	width: 480px;
	height: 362px;
	}

div.il-main-menu-inner {
	word-spacing:19px;
	margin-top: 165px;
	}

header.il-page-header-full {
    background: repeat center url("../media/bg/papyrus-dark.png");
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 480px;
    outline: solid thin rgb(43,43,43);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
	}
}

@media (max-aspect-ratio: 10/9) {
.il-index-img img {
	width: 67vw;
	outline: solid thin rgb(43, 43, 43);
	}
	
div.il-main-menu-outer {
	margin: 0 auto;
	border: 1px solid rgb(43,43,43);
	width: 67vw;
	height: 119.3vw;
	}
div.il-main-menu-inner {
line-height: 1.3;
white-space: pre-line;
margin: 0 auto;
margin-top: 23vh;
	}

header.il-page-header-full {
    background: repeat center url("../media/bg/papyrus-dark.png");
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    width: 67vw;
    outline: solid thin rgb(43,43,43);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
	}
}
	
.il-main-menu a:hover {
  color: #ff6600;}

.il-main-menu-inner a {
	font-family: 'Museo Sans Cyrl 100', Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	color: aliceblue;
	text-decoration: none;
	font-size: 1.2em;
}

footer.il-page-footer {
    font-size: 0.85rem;
    margin: 1.5em;
    color: #ffcc00;
	text-align: center
}