[Unit]
Description=Gunicorn instance to serve myflaskapp
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/baidakovru
Environment="PATH=/var/www/baidakovru/venv/bin"
ExecStart=/bin/bash -c '\
    /var/www/baidakovru/venv/bin/python /var/www/baidakovru/scheduler.py & \
    /var/www/baidakovru/venv/bin/gunicorn --config gunicorn.conf.py wsgi:app'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target