{% extends "base.html" %}

{% block title %}{{ _('Обо мне') }}{% endblock %}

{% block page_title %}{{ _('Обо мне') }}{% endblock %}

{% block content %}
<div class="content-container">
    {{ _('<p>Привет!</p>
    <p>Меня зовут Байдаков Илья</p>
    <p>Профессионально занимаюсь созданием и развитием систем автоматизированного проектирования</p>
    <p>Силы и вдохновение мне дают наблюдения за живой природой и экстремальный туризм. Особенно хороши леса и соло-походы</p>
    <p>Пока!</p>') }}
</div>
{% endblock %}