body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 40px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px 35px;
    border: 0px solid #ddd;
    text-align: left;
}


.link-icon {
    width: 16px;
    height: 16px;
    margin-left: 20px;
}

/* Make sure table cells with icons align properly */
#updates-table td {
    vertical-align: middle;
    
}

.date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стиль для первого столбца */
#updates-table td:first-child {
    white-space: nowrap;
    padding-right: 30px;
}

/* Обновленный стиль для столбца с датой */
